.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
}

.footer-col p {
    color: #7e7e7e;
    font-weight: 300;
    font-size: 16px;
}

.footer {
    background-color: #fff;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #aa653f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #7e7e7e;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(129, 129, 129, 0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-col .social-links .twitter {
    color: #00acee;
}

.footer-col .social-links .insta {
    color: #C13584;
}

.footer-col .social-links .youtube {
    color: #c4302b;
}

.footer-col .social-links .discord {
    color: #7289da;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    height: 50px;
}

.copy {
    color: #444;
    font-weight: 400;
}

.copy span {
    font-weight: 700;
}

/* responsive */

@media (max-width: 767px){

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px){

    .footer-col {
        width: 100%;
    }
}